// Partials ============================================================
@import "reset";
@import "colors";
@import "functions";
@import "variables";

// Variables ===========================================================
$serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
	sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
	monospace;

$radius: 3px;

$shadow: 0 3px 6px rgba($black, 0.1);

$mobile: 32em;
$tablet: 48em;
$desktop: 80em;

$background: shade(#2f5091, 80%);

// Base ================================================================
body {
	display: flex;
	align-items: center;
	justify-content: center;
	font: 100%/1.3 Inconsolata, sans-serif;
	color: $blue-gray-50;

	color: $white;
	background: currentColor;

	min-height: 100vh;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $background;
	animation: page-load 2s 0.2s both;
	transform-origin: center center;
}

@keyframes page-load {
	0% {
		transform: scale3d(0, 0.005, 1);
	}

	50% {
		transform: scale3d(1, 0.005, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

.main-wrapper {
	position: relative;
	margin: 0 auto;
	overflow: hidden;

	@media (min-width: $mobile) {
		overflow: visible;
		max-width: $mobile;
	}

	@media (min-width: $tablet) {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: visible;
		max-width: $tablet;
	}
}

.hero-wrapper {
	position: absolute;
	top: -7.5em;
	right: -7.5em;
	height: auto;
	width: $mobile;
	height: $mobile;

	@media (min-width: $tablet) {
		position: relative;
		flex: 1;
		top: initial;
		right: initial;
	}

	&:focus {
		outline: 0;
	}
}

.hero {
	width: 100%;
	vertical-align: top;

	@media (min-width: $tablet) {
		position: absolute;
		left: -20%;
		height: 100%;
		width: auto;
	}
}

.header-wrapper {
	position: relative;
	padding: 40% 2em 2em;

	@media (min-width: $tablet) {
		padding: 2em;
		flex: 1;
	}
}

h1,
h2,
p {
	margin-bottom: 1em;
}

.roll {
	animation: roll 1s both;
	transform-origin: center top;
}

@for $i from 1 through 9 {
	.roll-#{$i} {
		animation-delay: $i * 0.25s + 1s;
	}
}

@keyframes roll {
	0% {
		opacity: 0;
		transform: translate3d(0, 0.5em, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

h1 {
	letter-spacing: 0.15em;
	font-size: 2em;
	font-family: Inconsolata;
	margin: 0;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
	color: $blue-gray-300;
}

p {
	font-family: "Source Sans Pro";
}

hr {
	width: 4em;
	height: 0.25vw;
	background: currentColor;
	border: 0;
	margin: 2em 0;

	&.roll {
		animation: slide 3.5s both;
		transform-origin: left center;

		@keyframes slide {
			0% {
				transform: scaleX(0);
			}
		}
	}
}
